/*resume.htm style sheet */

* {
    font-family:'Times New Roman', Times, serif;
}

div.sidePanel {
    width: 25%;
    background-color: rgba(52, 157, 189, 0.911);
    position: fixed;
    height: 100%;
    overflow: auto;
    text-align: center;
    float: left;
}
section.avatar {     
    border-radius: 10px 10px;
    height: 200px;
    line-height: 0.3;
    background-color: rgb(10, 177, 243);
}
ul.contact {
    list-style-type: none;
    line-height: 1.5;
    text-decoration:none;
}
div.mainPanel{
    font-size: 12pt;
    margin-left: 25%;
    padding: 1px 16px;
    height: 100%;    
    background-color: rgb(134, 194, 218);
    clear: left;
    overflow: auto;
    line-height: 1.5;
}